<app-login [varpc]="color" (msgEvent)="receiveMessage($event)"> </app-login>
<!-- 
{{varctop}}
<p> <br> {{emitCtoP}}</p> -->


<!-- <body style="background-color: rgb(252, 250, 248);"> -->
<!--<h1 style="color:{{color}};"> {{"Chennai Super Kings"}}</h1>
<!--{{sum}}-->
<!-- <h1><b>CHENNAI SUPER KINGS</b></h1> -->
<!-- <img src="{{imageUrl}}" alt="Not Loading" width="200">
<img [src]="imgUrl" width="200">
<h1 class="colorred">It is red color</h1>    
<h2 [class]="changecolor? 'firstsel':'secondsel'">Hello</h2>
<h1 [style.color]="changecolor?'red':'blue'">This color will change</h1>
<button (click)="buttonClick()">Click here</button><br>
<input type="text" (keyup.enter)="onKeyUp()"><br>
<input type="text" (keyup)="onKeyUps($event)"><br>
<input type="text" (keyup.enter)="onKeyUpInput(inputs.value)"#inputs> -->

<!-- <input type="text" [value]="onewaydata" (keyup.enter)="oneWay()">
<input type="text" [(ngModel)]="twowaydata" (keyup.enter)="twoWay()">

</body> -->